* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  background-color: #af3434;
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

header nav {
  margin-right: 5%;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Poppins, sans-serif;
  padding-right: 20px;
}

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d2c2c;
  color: #fff;
}

#about h1 {
  font-size: 3em;
  font-family: Merienda;
}

#about p {
  font-size: 2.5em;
  font-family: "Courgette";
  color: #af3434;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
    padding: 5%;
  }

  header nav a {
    font-size: 1.5em;
  }

  #about h1 {
    font-size: 2.5em;
    font-family: Merienda;
  }

  #about p {
    font-size: 2em;
    font-family: "Courgette";
    color: #af3434;
  }
}
