* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background-color: #000000; }

header { border-bottom: 1px solid #4a4a4a; }

header a { text-decoration: none; }

.upper-nav ul { list-style-type: none; }

.upper-nav ul li a { color: #000000; }

ul.lower-nav { list-style-type: none; }

ul.lower-nav li a { color: #000000; }

ul.lower-nav li a, .upper-nav ul li a { color: #000000; }

@media only screen and (max-width: 600px) {
    .container { width: 100%; }
    
    .main-head { text-align: center; }
    
    .chibi_naruto { display: none; }
    
    .brand { width: 100%; }
    
    .chibi_luffy { display: none; }
    
    .upper-nav ul { width: 100%; display: flex; text-align: center; }
    
    .upper-nav ul li, .upper-nav ul li a { width: 40.33%; }
    
    .search-div { width: 90%; margin: auto; padding: 20px 0; }
    
    .search-div div input[type=text] {
        padding: 9px;
  		font-size: 14px;
  		border: 1px solid grey;
  		float: left;
  		width: 85%;
  		background: #f1f1f1;
    }

	.search-div div button {
  		float: left;
  		width: 15%;
  		padding: 9px;
  		background: #2196F3;
  		color: white;
  		font-size: 14px;
  		border: 1px solid grey;
  		border-left: none;
  		cursor: pointer;
	}
	
	.search-div button:hover {
  		background: #0b7dda;
	}
	
	.search-div div::after {
  		content: "";
  		clear: both;
  		display: table;
	}
    
    ul.lower-nav { width: 100%; display: flex; justify-content: center; }
    
    ul.lower-nav li { padding: 1.2%; }
    
    ul.lower-nav li a { text-align: center; }
}

/*@media only screen and (min-width: 601px) {    
	.container { width: 100%; margin: auto; }
	
	.main-head { display: flex; justify-content: space-between; margin-bottom: 20px;}
	
    .chibi_naruto { width: 10%; }
    
    .brand { width: 40%; }

	.chibi_luffy { width: 7.5%; margin-right: 25px; }
	
	.upper-nav { display: flex; align-items: center; margin: 20px 0; }
	
	.upper-nav ul { width: 65%; display: flex; text-align: center; }
	
	.upper-nav ul li, .upper-nav ul li a { width: 20%; }
	
	.search-div { width: 32%; margin: auto; margin-right: 20px; }
    
    .search-div div input[type=text] {
        padding: 9px;
  		font-size: 14px;
  		border: 1px solid grey;
  		float: left;
  		width: 82%;
  		background: #f1f1f1;
    }

	.search-div div button {
  		float: left;
  		width: 18%;
  		padding: 9px;
  		background: #2196F3;
  		color: white;
  		font-size: 14px;
  		border: 1px solid grey;
  		border-left: none;
  		cursor: pointer;
	}
	
	.search-div button:hover {
  		background: #0b7dda;
	}
	
	.search-div div::after {
  		content: "";
  		clear: both;
  		display: table;
	}
	
	ul.lower-nav { width: 100%; display: flex; text-align: center; }
    
    ul.lower-nav li { padding: 1%; }
    
    ul.lower-nav li a { width: 100%; padding: 1%; }
   
}*/

/* dark mode */
@media only screen and (min-width: 601px) {    
    body { background-color: #000000; }
    
	.container { width: 100%; margin: auto; background-color: #0f0f0f; color: #ffffff; }
	
	.main-head { display: flex; justify-content: space-between; margin-bottom: 20px;}
	
    .chibi_naruto { width: 10%; }
    
    .brand { width: 40%; }

	.chibi_luffy { width: 7.5%; margin-right: 25px; }
	
	.upper-nav { display: flex; align-items: center; margin: 20px 0; }
	
	.upper-nav ul { width: 65%; display: flex; text-align: center; }
	
	.upper-nav ul li, .upper-nav ul li a { width: 20%; }
	
	.upper-nav ul li a, ul.lower-nav li a { color: #ffffff; }
	
	.search-div { width: 32%; margin: auto; margin-right: 20px; }
    
    .search-div div input[type=text] {
        padding: 9px;
  		font-size: 14px;
  		border: 1px solid grey;
  		float: left;
  		width: 82%;
  		background: #f1f1f1;
    }

	.search-div div button {
  		float: left;
  		width: 18%;
  		padding: 9px;
  		background: #2196F3;
  		color: white;
  		font-size: 14px;
  		border: 1px solid grey;
  		border-left: none;
  		cursor: pointer;
	}
	
	.search-div button:hover {
  		background: #0b7dda;
	}
	
	.search-div div::after {
  		content: "";
  		clear: both;
  		display: table;
	}
	
	ul.lower-nav { width: 100%; display: flex; text-align: center; background-color: #0a0a0a; }
	
    ul.lower-nav li { padding: 10px; }
    
    ul.lower-nav li a { padding: 10px; }
    
    .lower-nav li a:hover { background-color: #000000; border-top: 3px solid #166909;  } 

	.lower-nav li a:active { outline: none; border-top: 3px solid #166909; }
   
}

@media only screen and (min-width: 992px) {    
    .container { width: 85%; margin: auto; }
        
    ul.lower-nav li { padding: 10px; }
    
    ul.lower-nav li a { padding: 10px; }
    
    .lower-nav li a:hover { border-top: 3px solid #166909;  } 

	.lower-nav li a:active { outline: none; border-top: 3px solid #166909; }
}
