<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./assets/angular.js"></script>
  <link rel="stylesheet" href="./assets/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/todo.css">
  <script src="./assets/todo.js"></script>
  <title>Todo App</title>
</head>
<body>
  <div class="todo">
    <div class="container" ng-app="myApp" ng-controller="myCtrlr">
      <h1>Todo App</h1>
      <p style="color: red; text-align: center;">{{errorText}}</p>
      <form>
        <input type="text" placeholder="Add Todo Item" ng-model="addMe" autofocus>
        <button type="button" ng-click="addItem()">Add</button>
      </form>
      <table class="table">
        <tr ng-repeat="x in products">
          <td>
            {{x}}
          </td>
          <td style="text-align: right;">
            <span style="color: red; cursor: pointer;" ng-click="removeItem($index)">&times;</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>
